# 1.  Variables

In [1]:
x="hello world"
print(x)

hello world

In [2]:
y=5
print(y)

5

In [3]:
x=7.9
print(x)

7.9

In [4]:
list_of_numbers=[1,2,3,4,5]
print("The first three elements in the list are: ",list_of_numbers[:3])
print("The first element in the list is: ", list_of_numbers[0])

The first three elements in the list are:  [1, 2, 3]
The first element in the list is:  1

In [5]:
name={'first_name': 'Hellina', 'last_name':'Nigatu'}

print("The keys of the dictionary are: ", name.keys())

print("The values of the dictionary are: ", name.values())

print("The items of the dictionary are: ", name.items())

The keys of the dictionary are:  dict_keys(['first_name', 'last_name'])
The values of the dictionary are:  dict_values(['Hellina', 'Nigatu'])
The items of the dictionary are:  dict_items([('first_name', 'Hellina'), ('last_name', 'Nigatu')])

# 2. For loops

In [7]:
for i in range(0,5): 
#   #pass
  print(i)
  # # break
  # # continue
  print("I made it here!")

0
I made it here!
1
I made it here!
2
I made it here!
3
I made it here!
4
I made it here!


# 3. Writing PseudoCode

#### 3.1 Write the pseudocode for the following programs.<br>

In [8]:
for x in range(4, 20):
    print(x/2)

2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5

pseudocode:

for each number starting from 4 upto 19
    print half of the number

In [ ]:
for school in ["Cal", "UCLA", "UCSF"]:
  print(school + " is a UC school.")

pseudocode:

for each school name in a list of schools
    print the school name along with the phrase ' is a UC School.'

#### 3.2 Write the code from Pseudocode

For each name in a list of names<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Print the name.

In [1]:
#write your code here
name_list=str(input("Enter names separated by space: "))
name_list=name_list.split()

Enter names separated by space: Hellina Hailu Nigatu

In [2]:
print(name_list)

['Hellina', 'Hailu', 'Nigatu']

In [3]:
name_list=['Hellina', 'Hailu', 'Nigatu']

In [4]:
for name in name_list:
    print(name)

Hellina
Hailu
Nigatu

For each fruit in a list of fruits<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For each first letter in the name of the fruit<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Print the capitalized version of the letter <br>

In [5]:
#write your code here

fruit_list=str(input("Enter fruits separated by a comma: "))
fruit_list=fruit_list.split(',')

Enter fruits separated by a comma: orange,apple,banana

In [6]:
print(fruit_list)

['orange', 'apple', 'banana']

In [9]:
string_value='orange'
string_value.upper()

'ORANGE'

In [12]:
for fruit in fruit_list:
    for char_in_fruit in fruit:
        print(char_in_fruit.upper())
        break

O
A
B

In [11]:
for fruit in fruit_list:
    print(fruit[0].upper())

O
A
B

## 4. For Loop Practice
### 4.1 Write a program to find the average of numbers in a given range.

In [14]:
start=int(input("Enter the start of the range: "))
end=int(input("Enter the end of the range: "))

Enter the start of the range: 2
Enter the end of the range: 4

In [19]:
#write your code here
sum_of_number=0
count_of_number=0
for num in range(start, end+1):
    sum_of_number+=num
    count_of_number+=1
    
average=sum_of_number/count_of_number
print("The average of numbers between ", start, " and " , end, " is: ", average)

The average of numbers between  2  and  4  is:  3.0

### 4.2. Write code to make a loop print out the square of every number in a given range.

In [30]:
start=int(input("Enter the start of the range: "))
end=int(input("Enter the end of the range: "))

Enter the start of the range: 2
Enter the end of the range: 4

In [20]:
#write your code here
for num in range(start, end+1):
    print(num*num)

4
9
16

In [23]:
#write your code here
for num in range(start, end+1):
    print(pow(num,5))

32
243
1024

# Lab B


 Fibonacci Sequence

Letâ€™s explore another sequence, the Fibonacci sequence.

This sequence occurs when you begin with the terms 0 and 1 and derive each subsequent term by adding the previous two terms together. Here are the first 8 terms:

      0  (by definition)
      1  (by definition)
0+1 = 1
1+1 = 2
1+2 = 3
2+3 = 5
3+5 = 8
5+8 = 13
.
.
.

This sequence has all kinds of interesting properties.


 ## 1. Write a pseudocode for how you would implement Fibonacci using a for loop.

Pseudocode:
get sequence length from user.
initalize previous as 0 
initialize current as 1
initialize list for sequence with [0,1]
for each number from 1 to n-2 
    add previous number to current number
    append sum to the sequence
    update previous number as current number
    update current number as next_num
print the sequence

## 2. Using your pseudocode, write a code to implement the Fibonacci sequence.

In [50]:
num_terms= int(input("How many terms of the fibonacci sequence should I display? "))

How many terms of the fibonacci sequence should I display? 15

In [51]:
#write your code here
previous=0
current=1
sequence=[0,1]

for num in range(num_terms-2):
    next_num = current+previous
    sequence.append(next_num)
    previous = current
    current = next_num

print(sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

## 3. Loops for drawing

In [52]:
from turtle import *

The code we have been using to draw a square is very repetetive.

In [56]:
forward(100)
right(90)
forward(100)
right(90)
forward(100)
right(90)
forward(100)
right(90)

###  3.1 Implement the code above using a for loop.

In [63]:
reset()

In [64]:
for i in range(4):
    forward(100)
    right(90)

### 3.2 Drawing Fibonacci

In [73]:
from IPython.display import HTML
HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/ahXIMUkSXX0" frameborder="0" allowfullscreen></iframe>')

/home/hellina/anaconda3/lib/python3.9/site-packages/IPython/core/display.py:724: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

One Spiral

First, use your Fibonacci code to draw a single spiral. You can do this by drawing a line for each number in the Fibonacci sequence and connecting the lines at a standard angle. Instead of appending each term, use it to tell the turtle how far to move.

In [71]:
#your code here
reset()
previous=0
current=1
sequence=[0,1]

for num in range(num_terms-2):
    next_num = current+previous
    forward(next_num)
    right(50)
    previous = current
    current = next_num

Multiple spirals

ðŸ’» Now, loop your code to draw multiple spirals originating from the center. To achieve the pinecone style from the video, make sure to use a Fibonacci number for the number of spirals you draw.

    ðŸ‘¾ ðŸ’¬ FYI

    You can return your turtle to the center of the window using goto(0, 0).

    If you want, you can use penup() and pendown() to keep the turtle from drawing as it returns to the center.

    Additionally, you can use setheading(ANGLE) to tell the turtle which direction to face where ANGLE is a number between 0 and 360.

In [72]:
# your code here.
reset()
speed(10)
num_terms = int(input("How many terms of the fibonacci sequence should I use to draw the spirals? "))
num_spirals = 8

angle = 360/num_spirals
for i in range(int(num_spirals)):
    penup()
    goto(0,0)
    setheading(i*angle)
    pendown()
    prev = 0
    forward(prev)
    right(angle)
    curr = 1
    forward(curr)
    right(angle)
    for i in range(num_terms-2):
        next = curr+prev
        forward(next)
        right(angle)
        prev = curr
        curr = next

How many terms of the fibonacci sequence should I use to draw the spirals? 13

Keep your input under 15 to avoid the turtle taking too much time to execute or going off screen.

In [74]:
bye()